html 
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(174, 187, 195);
}

h1
{
    font-weight: 900;
}

p
{
    text-align: justify;
    color: slateblue;
    text-indent: 4ch;
}

figure
{
    text-align: center;
}

img
{
    width: 60%;
    border: 2px solid greenyellow;
    border-radius: 8px;
    padding: 8px;
}

figcaption
{
    color: red;
}
